.gradient1,
.gradient2,
.point2,
.point3 {
	margin-left: auto;
	margin-right: auto;
}
.gradient1,
.gradient2 {
	height: 180px;
	width: 270px;
}
.gradient1 {
	background: linear-gradient(-45deg, #ff6e02 11%, #fffe00 51%, #ff6e02 89%);
}
.gradient2 {
	background: radial-gradient(circle, #290a59, #ff7c00 56%)
}
.point2,
.point3,
.front,
.back {
	height: 100px;
	width: 100px;
	border-radius: 10%;
}
.point2{
	background: red;
}
.point2:hover {
	transform: scale(2, 2);
}
.front,
.back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	background: blue;
	z-index: 2;
}
.back {
	background: red;
	transform: rotateY(180deg);
}
.point3 {
	perspective: 500;
}
.transformation {
	transform-style: preserve-3d;
	transform-origin: 50% 50%;
	transition: transform 1.5s;
	position: relative;
}
.point3 div {
	backface-visibility: hidden;
}
.point3:hover .transformation {
	transform: rotateY(180deg);
}